*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.kepala{
    font-weight: bold;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
}
.kepala div{
    display: inline;
}
a{
    text-decoration: none;
    color: black;
}
.kanan{
    float: right;
    margin-right: 200px;
}
.konten1{
    height: 300px;
    background-color: #7e7e7b;
    color: white;
    padding-left: 200px;
}
.konten2{
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    background-color: #eef6fa;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.konten4{
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: linear-gradient(to right,#FFEB3B,#FFBA00);
}

.konten4 .ik4{
    height: 250px;
    width: 900px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    padding-left: 40px;
}
.konten4 .ik4 .tl p{
    width: 500px;
    text-align: left;
    margin-left: -250px;
    position: relative;
    top: 60px;
}
.konten4 .ik4 .bt{
    width: 160px;
    background-color: #FFEB3B;
    position: relative;
    top: -15px;
    left: 240px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    padding-top: 20px;
    padding-bottom: 20px;
}
.konten4 .ik4 .bt:hover{
    transition: 0.5s;
    background-color: rgb(255, 246, 164);
}
.konten6{
    background-color: #3f3f3f;
    padding-top: 90px;
    padding-bottom: 90px;
}